@import 'config';
/*Font Start*/ 
@font-face {
  font-family: 'Sora';
  src: url('../fonts/Sora-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Sora';
  src: url('../fonts/Sora-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Sora';
  src: url('../fonts/Sora-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Sora';
  src: url('../fonts/Sora-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
/*Font End*/
/*General Style*/
a {
  text-decoration: none;
  color: $darknavy-color;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Sora', sans-serif;
  font-size: 1.8rem;
  color: $darknavy-color;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 700;
}

/* WP theme support size */ 
.size-auto, 
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto;
}

/* Breadcrumb */
.breadcrumb {
  padding: 1rem 0;
  list-style: none;
  color: $lightgray2-color;
  font-size: 1.4rem;
}
.breadcrumb a {
  color: $skyblue-color;
  text-decoration: none;
  @include lighten-on-hover($skyblue-color);
}

/*Nav Menu*/
#header {
  background-color: #fff;
  .header-main-menu {
    width: fit-content;

    a {
      border-bottom: 3px transparent solid;
      padding-bottom: 0.5rem;
      transition: border-color 0.5s;
      &:hover, &:active {
        border-color: $orangered-color;
      }
    }

    .offcanvas-header {
      margin: 40px 20px 0 20px;
    }
  }
  .header-main-menu ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
    gap: 2rem;
  }

  .brand-logo {
    padding: 1rem;
  }
}

.active {
  color: $orangered-color;
  font-weight: bold;

}

.user-cart {
  display: flex;
  align-items: start;
  justify-content: end;
  .icon-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    margin-bottom: 0;
    @include lighten-on-hover($darknavy-color);
    i {
      font-size: 2rem;
    }
    p {
      font-size: 1.2rem;
      margin-bottom: 0;
      text-align: center;
    }
  }
}

@media (max-width: 768px) {
  #header {
    .header-main-menu ul {
      flex-direction: column;
    }
  }

  img#logo {
    transform: translateX(20px);
  }
}

@media (max-width: 576px) {
  .user-cart {
    transform: scale(0.75);
  }
}

/* Home Slider*/
.flexslider {
  border: 0 !important;
  margin-bottom: 0 !important;
}
.flex-control-nav {
  bottom: 10px !important;
}

.slider-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 500px;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: #fff;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  h1 {
    text-align: center;
    font-size: 3.5rem;
  }
}

@media (max-width: 576px) {
  .slider-content {
    max-width: 160px;
    h1 {
      font-size: 1.3rem;
    }
  }
}

/* Page Banner */
.page-banner{
  padding: 20px 0;
  position: relative;
  background-color: #000000;
  // width: 100%;
  height: 200px;
  overflow: hidden;

  // &::before {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   height: 100%;
  //   width: 100%;
  //   background-color: rgba($color: #000000, $alpha: 0.3);
  // }

  &-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
  }

  &-title {
    color: #fff;
  }

  &-bg-image {
    background-size: cover;
    width: 100%;
    height: 150px;
    position: relative;
  }
}

.section-title {
  text-align: center;
  text-transform: uppercase;
  padding: 1.5rem 0;
}

/* contact page */
#contact-content {
  .contact-form-column, contact-info-column {
    padding: 1rem;
  }
}

/* Cart */ 
.woocommerce-cart table.cart td.actions .coupon .input-text{
  width: 150px;
}

/*Footer*/
footer {
  background-color: $lightgray-color;
  .footer-bar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 0;
    .footer-left {
      font-size: 1.2rem;
      p {
        margin: 0;
      }
    }
    .footer-right {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
      font-size: 3rem;
    }
  }
}

@media (max-width: 576px) {
  .footer-bar .container {
    flex-direction: column;
  }
}
/* WC My Account */

.woocommerce-account .woocommerce-MyAccount-navigation ul {
  list-style: none;
  border: 1px solid gray;
  border-radius: 5px;
  padding-right: 2rem;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li {
  border-bottom: 1px solid gray;
  margin: 1rem 0;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li:last-child {
  border-bottom: none;
}

/* WC Login form */
form.woocommerce-form.woocommerce-form-login.login
 {
  border: 1px solid $lightslategray-color;
  padding: 20px;
  margin: 2em;
  text-align: left;
  border-radius: 5px;
}


form.woocommerce-form.woocommerce-form-login.login .form-row label
 {
  display: block;
  line-height: 2;
}
form.woocommerce-form.woocommerce-form-login.login .form-row input.input-text {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  outline: 0;
  line-height: normal;
}

form.woocommerce-form.woocommerce-form-login.login button.woocommerce-form-login__submit{
  border-radius: 3px;
  display: inline-block;
  color: $darknavy-color;
  background-color: $orange-color;
  border: 0;
  padding: 0.618em 1em;
  line-height: 1;
  font-weight: 700;
  @include darken-on-hover($orange-color);
}

.woocommerce-form a {
  color: $skyblue-color;
  @include lighten-on-hover($skyblue-color);
}

/* WC product card */
.woocommerce-loop-product__title {
  height: 90px;
}

.woocommerce ul.products li.product {
  border-radius: 5px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  background-color: $lightgray-color;
  padding: 1.5rem;
}
.woocommerce ul.products li.product:hover {
  transform: scale(1.01);
}
.woocommerce ul.products li.product .price {
  display: none;
  color: $skyblue-color;
}
.woocommerce ul.products li.product .button {
  display: block;
  margin: auto;
  text-align: center;
}

.woocommerce ul.products li.product .onsale {
  left: 0;
  margin: 0;
  right: auto;
}

.woocommerce span.onsale {
  padding: 0;
  background-color: $orangered-color;
}

.tg-product-sku {
  font-size: 1.4rem;
}

.tg-sale-price {
  font-size: 1.6rem;
  font-weight: bold;
}

.tg-regular-price {
  font-size: 1.2rem;
  text-transform: uppercase;
  // text-decoration: line-through;
}

.tg-discount-wrapper {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.tg-discount-percentage {
  font-size: 1.2rem;
  background-color: $orange-color;
  padding: 0.8rem 1rem;
  margin-bottom: 1.5rem;
  border-radius: 5px;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
}

.gst-text {
  font-size: 1.2rem;
  font-weight: 400;
}

a.button.product_type_simple.add_to_cart_button {
  color: #fff;
  background-color: $skyblue-color;
  @include darken-on-hover($skyblue-color);
}

/* Shop */
.container.shop-content {
  padding-top: 1.5rem;
}

/* Product page */
.woocommerce div.product p.price,.woocommerce div.product span.price,
.woocommerce div.product .stock {
  color: $skyblue-color;
}

button.single_add_to_cart_button.button.alt {
  background-color: $skyblue-color;
  @include darken-on-hover($skyblue-color);
}

button.single_add_to_cart_button.button.alt.disabled.wc-variation-selection-needed {
  background-color: $skyblue-color;
}

.woocommerce div.product .entry-summary .cart div.quantity{
  float: none;
  margin: 0;
  display: inline-block;
}
.woocommerce div.product form.cart .button {
  vertical-align: middle;
  float: none;
  width: fit-content;
}

.qtyWrapper {
  width: fit-content;
  height:100%;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.woocommerce div.product form.cart {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.woocommerce .quantity .qty {
  text-align: center;
  border: 0.5px solid $lightgray-color;
}
/* Shop Sidebar */

.sidebar-shop-widget {
  ul.wc-block-product-categories-list {
    list-style: none;
    padding-left: 0;
  }
  div#block-25, div#block-29 {
    border: 1px solid $lightgray2-color;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
    h4.wp-block-heading {
      color: $skyblue-color;
      @include lighten-on-hover($skyblue-color);
    }
  }
} 

/* WC breadcrumb */ 
.woocommerce-breadcrumb a {
  color: $skyblue-color!important;
  @include lighten-on-hover($skyblue-color);
}

/* Cart Page */
a.checkout-button.button.alt.wc-forward {
  background-color: $skyblue-color;
  @include darken-on-hover($skyblue-color);
}

.woocommerce-cart-form a {
  color: $skyblue-color;
  @include lighten-on-hover($skyblue-color);
}

.woocommerce-cart-form .variation,
.woocommerce-cart-form .cart-sku {
  font-size: 1.2rem;
}
.woocommerce-cart-form img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail {
  width: 50px;
}

/* WC product page */ 
.summary.entry-summary {
  .price {
    color: $darknavy-color!important;
    font-weight: bold;
    display: inline-block;
  }
}

/* Checkout page */
.button.alt.ppcp-dcc-order-button {
  background-color: $skyblue-color!important;
  @include darken-on-hover($skyblue-color);
}

.woocommerce a.showcoupon {
  color: $skyblue-color;
  @include lighten-on-hover($skyblue-color);
}
